<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitAndUITestEx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D68263171E271F8F00B63095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D682632B1E271F8F00B63095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D68263361E271F8F00B63095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
